body{
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
  
}

.container{
  border: black solid 2.5px;
  border-radius: 10px;
}